
body {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	color: #fff;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	background-color: #000;
	/*background-image: url('../img/background.jpg');*/
	/*background-size: cover;*/
}

.container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	padding: 0px;
	display: inline-block;
}

.container-head {
	padding: 10px 0px 10px 0px;
}

.container-body {
	padding: 10px 0px 10px 0px;
	/*border: 1px solid white;*/
}

.container-footer {
	padding: 10px 0px 10px 0px;
}

.btn-steps {
	margin: 20px 20px 0px 20px;
	padding: 0px 50px 0px 50px;
	line-height: 2em;
	font-size: 1.5em;
	border : 1px solid #fff;
	border-radius: 50px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

.btn-steps:hover {
	color: #000;
	background-color: #fff;
	/*border : 1px solid #000;*/
}

.form-input {
	background-color: transparent;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
	padding: 0px 40px 0px 40px;
	line-height: 2em;
	font-size: 1.2em;
	display: block;
	margin : 10px auto 0px auto;
	text-align: center;
	font-family: inherit;
}

.form-submit {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 0px 40px 0px 40px;
	line-height: 2em;
	font-size: 1.2em;
	display: block;
	margin : 20px auto 0px auto;
	text-align: center;
	font-family: inherit;
}

.form-submit:hover {
	color: #000;
	background-color: #fff;
}

.form-file {
	background-color: transparent;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
	line-height: 2em;
	font-size: 1em;
	display: block;
	margin : 20px auto 0px auto;
	text-align: center;
	font-family: inherit;
}

.form-thumb {
	background-color: transparent;
	color: #fff;
	line-height: 2em;
	font-size: 1em;
	display: block;
	margin : 20px auto 0px auto;
	text-align: center;
	font-family: inherit;
}


.img-captcha {
	margin: 20px 0px 0px 0px;
}

.progress {
	width: 200px;
	height: 20px;
	background-color: transparent;
	overflow: hidden;
	margin: 0 auto 0 auto;
}

.progress-bar {
	float: left;
	height: 100%;
	background-color: #fff;
	color: #000;
	text-align: center;
	margin: 0 auto 0 auto;
	-webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}